.leftside-menu{
  position: fixed;
  left: 0;
  bottom: 0;
  top:50px;
  background-color: white;
  width: 72px;
  z-index: 200;
  padding-top: 20px;
  cursor: pointer;
  padding-left: 5px;
} 

.leftside-icon{
  display: flex;
  flex-direction: column;
  height: 70px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
} .leftside-icon:hover{
     background-color: rgb(209, 208, 208);
  }

.leftside-icon img{
  height: 35px;
  width: 25px;
  margin-bottom: 5px;
}

.leftside-menu .name{
  font-size: 11px;
}

a{
  text-decoration: none;
  color: black;
}