.whole-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 20px;
    margin-left: 50px;
    cursor: pointer;
  }

@media (max-width: 500px){
  .whole-grid {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 501px) and (max-width: 750px){
  .whole-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 751px) and (max-width: 999px){
  .whole-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px){
  .whole-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

  .relative{
    position: relative;
  } .time{
      position: absolute;
      background-color: black;
      color: white;
      bottom: 0;
      right: 0;
      margin-bottom: 30px;
      margin-right: 10px;
      padding-top: 3px;
      padding-bottom: 3px;
      padding-right: 5px;
      padding-left: 5px;
      z-index: 1;
    }

.video-description1,.video-description2{
    display: inline-block;
    width: calc(100% - 70px); 
    max-width: 250px;
    vertical-align: top;
    line-height: 26px;
    margin-left: 10px;
}

  .video-description2{
    display: inline-block;
    margin-left: 10px;
    width: 250px;
    vertical-align: top;
    line-height: 26px;
    
  }
  
  .pfp2{
    display: inline-block;
    width: 50px;
    border-radius: 25px;

  }
  .pfp-2{
    width: 20px;
    display: inline-block;
    margin-right: 25px;
    margin-left: 5px;
  }

  p{
    font-family:Roboto, arial;
  }
  .pfp1-1{
    display: inline-block;
    width: 50px;
  }

  .video-description1{
    display: inline-block;
    width: 250px;
    vertical-align: top;
    line-height: 26px;
    margin-left: 10px;
  }

  .pfp1{
    display: inline-block;
    width: 50px;
    border-radius: 25px;
    
  }

  .title1{
    margin-bottom: 5px;
    margin-top: 0;
    font-weight: 700;
    font-family:Roboto;
    font-size: 20px;
  }

  .author1{
    margin-top: 5px;
  }
  .author1, .views1{
    margin-top: 0px;
    margin-bottom:  0px;
    color: rgb(96, 96, 96);
  }
  

  .thumbnail1{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .author2, .views2{
    color: rgb(96, 96, 96);
  }

  .title2{
    margin-bottom: 0px;
    margin-top: 0;
    font-weight: 700;
    font-family:Roboto;
    font-size: 20px;
  }
  .author2{
    margin-top: 5px;
    margin-bottom: 3px;
  }
  .views2{
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .thumbnail2{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
  }